# Monitoring ML models

### Testing endpoints

Loading the data from a list of records.

In [215]:
f = open("../monitoring/batch_records.json")
request = f.read()
request_sample = request.split('}')
print(request_sample[0])

[
    {
        "VAR2": "M",
        "IDADE": 43.893,
        "VAR5": "PR",
        "VAR6": -25.4955709,
        "VAR7": -49.2454987,
        "VAR8": "D",
        "VAR9": "E",
        "VAR10": "MEDIA",
        "VAR11": 1.0,
        "VAR12": 0.182,
        "VAR14": 0.597,
        "VAR15": 0.618,
        "VAR16": 0.25,
        "VAR18": 1.076712,
        "VAR19": 5.057534,
        "VAR22": 0.125,
        "VAR24": 0.069,
        "VAR25": 0.0969999999999999,
        "VAR32": "SALDO INEXISTENTE",
        "VAR39": 0.661039,
        "VAR40": 0.573539,
        "VAR41": 0.4793699999999999,
        "VAR42": 0.4440489999999999,
        "VAR47": 0.006,
        "VAR49": "S",
        "VAR50": "N",
        "VAR51": "N",
        "VAR52": "N",
        "VAR53": "N",
        "VAR54": "N",
        "VAR55": "N",
        "VAR56": "S",
        "VAR57": "S",
        "VAR58": "N",
        "VAR59": "N",
        "VAR60": "N",
        "VAR61": "N",
        "VAR62": "N",
        "VAR63": "N",
        "VAR64": "N",
        "VAR65": "N",
        "VAR66": "ALTISSIMA",
        "VAR67": "ALTA",
        "VAR68": "ALTISSIMA",
        "VAR69": "ALTISSIMA",
        "VAR70": "ALTISSIMA",
        "VAR71": "ALTA",
        "VAR72": "ALTISSIMA",
        "VAR73": "ALTISSIMA",
        "VAR74": "ALTISSIMA",
        "VAR75": "ALTISSIMA",
        "VAR76": "ALTA",
        "VAR77": "ALTISSIMA",
        "VAR78": "ALTISSIMA",
        "VAR79": "ALTISSIMA",
        "VAR80": "ALTA",
        "VAR81": "ALTA",
        "VAR82": "ALTISSIMA",
        "VAR83": "ALTISSIMA",
        "VAR84": "ALTA",
        "VAR85": "ALTA",
        "VAR86": "ALTA",
        "VAR87": "ALTISSIMA",
        "VAR88": "ALTA",
        "VAR89": "ALTISSIMA",
        "VAR90": "BAIXISSIMA",
        "VAR91": "ALTA",
        "VAR92": "ALTISSIMA",
        "VAR93": "ALTISSIMA",
        "VAR94": "ALTISSIMA",
        "VAR95": "ALTA",
        "VAR96": "ALTISSIMA",
        "VAR97": "ALTA",
        "VAR98": "ALTISSIMA",
        "VAR99": "ALTISSIMA",
        "VAR100": "BAIXISSIMA",
        "VAR101": "ALTA",
        "VAR102": "MEDIO",
        "VAR103": "MEDIO",
        "VAR104": "PROXIMO",
        "VAR105": "LONGE",
        "VAR106": "MEDIO",
        "VAR107": "MEDIO",
        "VAR108": "MEDIO",
        "VAR109": "MEDIO",
        "VAR110": "PROXIMO",
        "VAR111": "MEDIO",
        "VAR112": "MEDIO",
        "VAR113": "PROXIMO",
        "VAR114": "PROXIMO",
        "VAR115": "MEDIO",
        "VAR116": "LONGE",
        "VAR117": "MEDIO",
        "VAR118": "MEDIO",
        "VAR119": "LONGE",
        "VAR120": "MUITO LONGE",
        "VAR121": "MEDIO",
        "VAR122": "MEDIO",
        "VAR123": "MEDIO",
        "VAR124": "MEDIO",
        "VAR125": "PROXIMO",
        "VAR126": "MEDIO",
        "VAR127": "PROXIMO",
        "VAR128": "LONGE",
        "VAR129": "MEDIO",
        "VAR130": "MEDIO",
        "VAR131": "MEDIO",
        "VAR132": "PROXIMO",
        "VAR133": "MEDIO",
        "VAR134": "PROXIMO",
        "VAR135": "MEDIO",
        "VAR136": "MEDIO",
        "VAR137": "MEDIO",
        "VAR138": "MEDIO",
        "VAR139": "MEDIO",
        "VAR140": "MUITO PROXIMO",
        "VAR141": 3970.113648,
        "VAR142": "C",
        "REF_DATE": "2017-03-25 00:00:00+00:00",
        "TARGET": 1

Using the requests library to send the post requests to the endpoints.

In [179]:
import requests

The first endpoint receives a list of records and returns two things:
1. The volumetry (quantity of records) for each month
2. The value of the area under the ROC curve

In [180]:
response = requests.post(url="http://0.0.0.0:8001/v1/performance", data = request).text


volumetry = response.split("+")[0][2:-3].split(",")
volumetry[0] =  "Volumetry --> \n\n" + volumetry[0]
for i in range(len(volumetry)):
    print(volumetry[i])

print("\nAUC ROC --> \n\n"+response.split("+")[1][:-2])

Volumetry -->

"2017-07":74
"2017-08":72
"2017-05":67
"2017-06":63
"2017-03":62
"2017-01":58
"2017-02":55
"2017-04":49

AUC ROC -->

0.5751748251748252

The second endpoint uses the Kolmogorov-Smirnov distance to measure how far away the score distribution of a desired database is comparing to the Test Database (/datasets/credit_01/test.gz)
The path of the desired database is passed in the Post request.

Testing endpoint with train.gz

In [142]:
path = "/home/srctwd/challenge-data-scientist-ntech/datasets/credit_01/train.gz"
response = requests.post(url="http://0.0.0.0:8001/v1/aderencia", data = path).text
response = response.split(",")
print(response[0][1:13]+" -->\n")
print(response[0][14:])
print(response[1][1:])
print(response[2][1:])
print(response[3][1:-2])

KstestResult -->

statistic=0.002759858953621075
pvalue=0.9605978662359891
statistic_location=0.7445096329184175
statistic_sign=1

Testing endpoint with oot.gz

In [143]:
path = "/home/srctwd/challenge-data-scientist-ntech/datasets/credit_01/oot.gz"
response = requests.post(url="http://0.0.0.0:8001/v1/aderencia", data = path).text
response = response.split(",")
print(response[0][1:13]+" -->\n")
print(response[0][14:])
print(response[1][1:])
print(response[2][1:])
print(response[3][1:-2])

KstestResult -->

statistic=0.020915414151451373
pvalue=4.01624188958718e-12
statistic_location=0.7928217560872773
statistic_sign=1

From the two databases tested, we see that the score distribution of train.gz is the closest to test.gz.

### Training new model

In [182]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector as selector
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline
from sklearn.metrics import roc_auc_score
import pickle

In [183]:
train_path = "../datasets/credit_01/train.gz"
test_path = "../datasets/credit_01/test.gz"

In [184]:
df_train = pd.read_csv(train_path, compression="gzip")
df_test = pd.read_csv(test_path, compression="gzip")

/home/srctwd/neurotech/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3460: DtypeWarning: Columns (45) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [185]:
df_train.fillna(value=np.nan,inplace=True)
print(df_train.head())

                    REF_DATE  TARGET VAR2   IDADE VAR4 VAR5       VAR6  \
0  2017-06-16 00:00:00+00:00       1    F  76.126  NaN   SP -23.568523
1  2017-02-07 00:00:00+00:00       1  NaN     NaN  NaN   SP -23.189738
2  2017-03-11 00:00:00+00:00       1  NaN     NaN  NaN   PE  -7.563015
3  2017-04-28 00:00:00+00:00       1    F  65.786  NaN   AM  -3.119028
4  2017-02-15 00:00:00+00:00       1    M  24.918  NaN   AC -10.014903

        VAR7 VAR8 VAR9  ...       VAR141  VAR142  VAR143  VAR144  VAR145  \
0 -46.804297    C    E  ...  4094.377623       C     NaN     NaN     NaN
1 -46.815943  NaN    E  ...  1347.882336       E     NaN     NaN     NaN
2 -35.013143  NaN    E  ...  1428.485398       E     NaN     NaN     NaN
3 -60.021731  NaN    E  ...  1478.879522       E     NaN     NaN     NaN
4 -67.798491    E    E  ...  1560.669227       E     NaN     NaN     NaN

   VAR146  VAR147                                             VAR148  VAR149  \
0     NaN     102  EMAIL INEXISTENTE#@#NOME INEXISTENTE#@#CEP INE...   2.6.1
1     NaN     102  EMAIL INEXISTENTE#@#NOME INEXISTENTE#@#CEP INE...   2.6.1
2     NaN     102               NOME INEXISTENTE#@#EMAIL INEXISTENTE   2.6.1
3     NaN     102                                  EMAIL INEXISTENTE   2.6.1
4     NaN     102  EMAIL INEXISTENTE#@#NOME INEXISTENTE#@#CEP INE...   2.6.1

       ID
0  123791
1  246754
2  169817
3   26525
4  143859

[5 rows x 151 columns]

In [186]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101128 entries, 0 to 101127
Columns: 151 entries, REF_DATE to ID
dtypes: float64(34), int64(3), object(114)
memory usage: 116.5+ MB

In [187]:
print("Number of unique values in each column:") 
for column in df_train.columns:
    print(column + " - #unique: " + str(df_train[column].nunique()) + "        #nan:" + str(df_train[column].isna().sum()))

Number of unique values in each column:
REF_DATE - #unique: 242        #nan:0
TARGET - #unique: 2        #nan:0
VAR2 - #unique: 3        #nan:12356
IDADE - #unique: 21359        #nan:11594
VAR4 - #unique: 1        #nan:100944
VAR5 - #unique: 27        #nan:2835
VAR6 - #unique: 45233        #nan:2835
VAR7 - #unique: 45207        #nan:2835
VAR8 - #unique: 5        #nan:44526
VAR9 - #unique: 5        #nan:2798
VAR10 - #unique: 5        #nan:2770
VAR11 - #unique: 9        #nan:38719
VAR12 - #unique: 221        #nan:46220
VAR13 - #unique: 916        #nan:88133
VAR14 - #unique: 789        #nan:21411
VAR15 - #unique: 891        #nan:52173
VAR16 - #unique: 192        #nan:63551
VAR17 - #unique: 2358        #nan:88133
VAR18 - #unique: 792        #nan:21411
VAR19 - #unique: 1886        #nan:52173
VAR20 - #unique: 85        #nan:91606
VAR21 - #unique: 5        #nan:88081
VAR22 - #unique: 9        #nan:52106
VAR23 - #unique: 91        #nan:88133
VAR24 - #unique: 59        #nan:19685
VAR25 - #unique: 32        #nan:52173
VAR26 - #unique: 59        #nan:100307
VAR27 - #unique: 7        #nan:100281
VAR28 - #unique: 21        #nan:90386
VAR29 - #unique: 49        #nan:80376
VAR30 - #unique: 17        #nan:90386
VAR31 - #unique: 7        #nan:97881
VAR32 - #unique: 7        #nan:65931
VAR33 - #unique: 1        #nan:93800
VAR34 - #unique: 34        #nan:93800
VAR35 - #unique: 1        #nan:79486
VAR36 - #unique: 1        #nan:80339
VAR37 - #unique: 412        #nan:80339
VAR38 - #unique: 1        #nan:100467
VAR39 - #unique: 62099        #nan:65
VAR40 - #unique: 28276        #nan:2782
VAR41 - #unique: 39282        #nan:2508
VAR42 - #unique: 27394        #nan:11588
VAR43 - #unique: 1        #nan:100778
VAR44 - #unique: 98        #nan:100778
VAR45 - #unique: 1        #nan:100867
VAR46 - #unique: 239        #nan:100867
VAR47 - #unique: 1000        #nan:0
VAR48 - #unique: 2        #nan:94081
VAR49 - #unique: 2        #nan:11592
VAR50 - #unique: 2        #nan:11592
VAR51 - #unique: 2        #nan:11592
VAR52 - #unique: 2        #nan:11592
VAR53 - #unique: 2        #nan:11592
VAR54 - #unique: 2        #nan:11592
VAR55 - #unique: 2        #nan:11592
VAR56 - #unique: 2        #nan:11592
VAR57 - #unique: 2        #nan:11592
VAR58 - #unique: 2        #nan:11592
VAR59 - #unique: 2        #nan:11592
VAR60 - #unique: 2        #nan:11592
VAR61 - #unique: 2        #nan:11592
VAR62 - #unique: 2        #nan:11592
VAR63 - #unique: 2        #nan:11592
VAR64 - #unique: 2        #nan:11592
VAR65 - #unique: 2        #nan:11592
VAR66 - #unique: 4        #nan:2508
VAR67 - #unique: 3        #nan:2508
VAR68 - #unique: 4        #nan:2508
VAR69 - #unique: 4        #nan:2508
VAR70 - #unique: 4        #nan:2508
VAR71 - #unique: 5        #nan:2508
VAR72 - #unique: 4        #nan:2508
VAR73 - #unique: 4        #nan:2508
VAR74 - #unique: 4        #nan:2508
VAR75 - #unique: 4        #nan:2508
VAR76 - #unique: 4        #nan:2508
VAR77 - #unique: 4        #nan:2508
VAR78 - #unique: 4        #nan:2508
VAR79 - #unique: 4        #nan:2508
VAR80 - #unique: 4        #nan:2508
VAR81 - #unique: 5        #nan:2508
VAR82 - #unique: 3        #nan:2508
VAR83 - #unique: 4        #nan:2508
VAR84 - #unique: 4        #nan:2508
VAR85 - #unique: 4        #nan:2508
VAR86 - #unique: 4        #nan:2508
VAR87 - #unique: 5        #nan:2508
VAR88 - #unique: 5        #nan:2508
VAR89 - #unique: 4        #nan:2508
VAR90 - #unique: 2        #nan:2508
VAR91 - #unique: 5        #nan:2508
VAR92 - #unique: 4        #nan:2508
VAR93 - #unique: 3        #nan:2508
VAR94 - #unique: 4        #nan:2508
VAR95 - #unique: 3        #nan:2508
VAR96 - #unique: 5        #nan:2508
VAR97 - #unique: 4        #nan:2508
VAR98 - #unique: 4        #nan:2508
VAR99 - #unique: 5        #nan:2508
VAR100 - #unique: 2        #nan:2508
VAR101 - #unique: 4        #nan:2508
VAR102 - #unique: 5        #nan:2508
VAR103 - #unique: 5        #nan:2508
VAR104 - #unique: 5        #nan:2508
VAR105 - #unique: 5        #nan:2508
VAR106 - #unique: 5        #nan:2508
VAR107 - #unique: 5        #nan:2508
VAR108 - #unique: 5        #nan:2508
VAR109 - #unique: 5        #nan:2508
VAR110 - #unique: 5        #nan:2508
VAR111 - #unique: 5        #nan:2508
VAR112 - #unique: 5        #nan:2508
VAR113 - #unique: 5        #nan:2508
VAR114 - #unique: 5        #nan:2508
VAR115 - #unique: 5        #nan:2508
VAR116 - #unique: 5        #nan:2508
VAR117 - #unique: 5        #nan:2508
VAR118 - #unique: 5        #nan:2508
VAR119 - #unique: 5        #nan:2508
VAR120 - #unique: 2        #nan:2508
VAR121 - #unique: 4        #nan:2508
VAR122 - #unique: 5        #nan:2508
VAR123 - #unique: 5        #nan:2508
VAR124 - #unique: 5        #nan:2508
VAR125 - #unique: 5        #nan:2508
VAR126 - #unique: 5        #nan:2508
VAR127 - #unique: 5        #nan:2508
VAR128 - #unique: 5        #nan:2508
VAR129 - #unique: 5        #nan:2508
VAR130 - #unique: 5        #nan:2508
VAR131 - #unique: 5        #nan:2508
VAR132 - #unique: 5        #nan:2508
VAR133 - #unique: 5        #nan:2508
VAR134 - #unique: 5        #nan:2508
VAR135 - #unique: 5        #nan:2508
VAR136 - #unique: 5        #nan:2508
VAR137 - #unique: 5        #nan:2508
VAR138 - #unique: 5        #nan:2508
VAR139 - #unique: 5        #nan:2508
VAR140 - #unique: 5        #nan:2508
VAR141 - #unique: 1489        #nan:0
VAR142 - #unique: 5        #nan:123
VAR143 - #unique: 2        #nan:99823
VAR144 - #unique: 2        #nan:99823
VAR145 - #unique: 384        #nan:100584
VAR146 - #unique: 76        #nan:100989
VAR147 - #unique: 2        #nan:0
VAR148 - #unique: 7        #nan:0
VAR149 - #unique: 1        #nan:0
ID - #unique: 101128        #nan:0

Features that most likely do not add any value to the classification task:

**REF_DATE** - date the registry was taken. Does not speak much about the individual entries

**ID** - unique for each entry

Missing for more than 80k entries: 
**VAR4, VAR13, VAR17, VAR20, VAR21, VAR23, VAR26, VAR27, VAR28, VAR29, VAR30, VAR31, VAR33
VAR34, VAR36, VAR37, VAR38, VAR43, VAR44, VAR45, VAR46, VAR48, VAR143, VAR144, VAR145, VAR146**

In [188]:
to_drop = []
for column in df_train.columns:
    if df_train[column].isna().sum() > 80000:
        to_drop.append(column)
print(to_drop)

['VAR4', 'VAR13', 'VAR17', 'VAR20', 'VAR21', 'VAR23', 'VAR26', 'VAR27', 'VAR28', 'VAR29', 'VAR30', 'VAR31', 'VAR33', 'VAR34', 'VAR36', 'VAR37', 'VAR38', 'VAR43', 'VAR44', 'VAR45', 'VAR46', 'VAR48', 'VAR143', 'VAR144', 'VAR145', 'VAR146']

In [189]:
df_train = df_train.drop(columns=to_drop)
df_train = df_train.drop(columns=["REF_DATE", "ID"])

In [190]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101128 entries, 0 to 101127
Columns: 123 entries, TARGET to VAR149
dtypes: float64(19), int64(2), object(102)
memory usage: 94.9+ MB

Checking if Dataset is balanced:

We have 4x more examples of the positive class than of the negative class

In [155]:
df_train["TARGET"].value_counts()

1    80130
0    20998
Name: TARGET, dtype: int64

Preprocessing categorical and numerical columns

Source: https://inria.github.io/scikit-learn-mooc/python_scripts/03_categorical_pipeline_column_transformer.html (Scikit learn documentation)

In [191]:
X = df_train.drop(['TARGET'], axis=1)

y = df_train['TARGET']

In [192]:
numerical_columns_selector = selector(dtype_exclude=object)
categorical_columns_selector = selector(dtype_include=object)

numerical_columns = numerical_columns_selector(X)
categorical_columns = categorical_columns_selector(X)

In [193]:
categorical_preprocessor = OneHotEncoder(handle_unknown="ignore")
numerical_preprocessor = StandardScaler()

In [194]:
for column in numerical_columns:
    X[column].fillna(0, inplace=True)
for column in categorical_columns:
    X[column].fillna("", inplace=True)

In [195]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101128 entries, 0 to 101127
Columns: 122 entries, VAR2 to VAR149
dtypes: float64(19), int64(1), object(102)
memory usage: 94.1+ MB

In [196]:
preprocessor = ColumnTransformer([
    ('one-hot-encoder', categorical_preprocessor, categorical_columns),
    ('standard_scaler', numerical_preprocessor, numerical_columns)])

In [197]:
model = make_pipeline(preprocessor, DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=0))
model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('one-hot-encoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['VAR2', 'VAR5', 'VAR8',
                                                   'VAR9', 'VAR10', 'VAR32',
                                                   'VAR35', 'VAR49', 'VAR50',
                                                   'VAR51', 'VAR52', 'VAR53',
                                                   'VAR54', 'VAR55', 'VAR56',
                                                   'VAR57', 'VAR58', 'VAR59',
                                                   'VAR60', 'VAR61', 'VAR62',
                                                   'VAR63', 'VAR64', 'VAR65',
                                                   'VAR66', 'VAR67', 'VAR68',
                                                   'VAR69', 'VAR70', 'VAR71', ...]),
                                                 ('standard_scaler',
                                                  StandardScaler(),
                                                  ['IDADE', 'VAR6', 'VAR7',
                                                   'VAR11', 'VAR12', 'VAR14',
                                                   'VAR15', 'VAR16', 'VAR18',
                                                   'VAR19', 'VAR22', 'VAR24',
                                                   'VAR25', 'VAR39', 'VAR40',
                                                   'VAR41', 'VAR42', 'VAR47',
                                                   'VAR141', 'VAR147'])])),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(max_depth=3, random_state=0))])

Splitting into train and test

In [198]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [199]:
X_train.shape, X_test.shape

((70789, 122), (30339, 122))

In [200]:
_ = model.fit(X_train, y_train)

In [201]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70789 entries, 19537 to 15795
Columns: 122 entries, VAR2 to VAR149
dtypes: float64(19), int64(1), object(102)
memory usage: 66.4+ MB

In [202]:
y_pred = model.predict_proba(X_test)[:,1]

In [203]:
AUC = roc_auc_score(y_test, y_pred)

In [204]:
print(AUC)

0.6220028045603245

In [205]:
old_model_path = '../monitoring/model.pkl'
new_model_path = '../monitoring/new_model.pkl'
pickle.dump(model, open(new_model_path, 'wb'))

In [206]:
old_model = pickle.load(open(old_model_path, 'rb'))
new_model = pickle.load(open(new_model_path, 'rb'))

In [207]:
to_drop = ['VAR4', 'VAR13', 'VAR17', 'VAR20', 'VAR21', 'VAR23', 'VAR26', 'VAR27', 'VAR28', 'VAR29', 'VAR30', 
            'VAR31', 'VAR33', 'VAR34', 'VAR36', 'VAR37', 'VAR38', 'VAR43', 'VAR44', 'VAR45', 'VAR46', 'VAR48', 
            'VAR143', 'VAR144', 'VAR145', 'VAR146', 'REF_DATE', 'ID']
def new_process_dataset(df, to_drop):
    df.fillna(value=np.nan,inplace=True)
    df = df.drop(columns=to_drop)
    
    numerical_columns_selector = selector(dtype_exclude=object)
    categorical_columns_selector = selector(dtype_include=object)

    numerical_columns = numerical_columns_selector(df)
    categorical_columns = categorical_columns_selector(df)
    
    for column in numerical_columns:
        df[column].fillna(0, inplace=True)
    for column in categorical_columns:
        df[column].fillna("", inplace=True)
    
    X = df.drop(['TARGET'], axis=1)
    y = df['TARGET']
    return X, y

def old_process_dataset(df):
    df.fillna(value=np.nan,inplace=True)
    df.drop(["REF_DATE"], axis=1)
    
    X = df.drop(['TARGET'], axis=1)
    y = df['TARGET']
    return X,y

In [208]:
X_old_testdf, y_old_testdf = old_process_dataset(df_test)
X_new_testdf, y_new_testdf = new_process_dataset(df_test, to_drop)

In [209]:
pred_old_testdf = old_model.predict_proba(X_old_testdf)[:,1]
pred_new_testdf = new_model.predict_proba(X_new_testdf)[:,1]

In [210]:
old_AUC = roc_auc_score(y_old_testdf, pred_old_testdf)
new_AUC = roc_auc_score(y_new_testdf, pred_new_testdf)

In [211]:
print(old_AUC)
print(new_AUC)

0.6075332746684731
0.6192777660729909

With some minimal feature engineering, the Decision Tree Classifier was able to perform slightly better than the pre-trained model. 
To improve the performance further, we could use other models such as Random Forest or XGBoost. 
XGBoost model is mentioned in many sources as a really good model to use with tabular data.